[submodule "agents/hesreallyhim-agents"]
	path = agents/hesreallyhim-agents
	url = git@github.com:hesreallyhim/awesome-claude-code-agents.git
[submodule "agents/wshobson-agents"]
	path = agents/wshobson-agents
	url = git@github.com:wshobson/agents.git
